<h2>Show user</h2>

<%= render 'form' %>
<%= render 'comments/form' %>

<%= link_to 'Back', users_path %>
<%= link_to 'Edit', edit_user_path(@user) %>


<h1>NICE!!!!!11!!!1!!</h1>
<h6><%= link_to 'log out', home_index_path %></h6>